





div {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}



h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}





ul {
    list-style-position: inside;
    list-style-type: none;
    
    padding-right: 20px;
    padding-left: 0px;
}

li {
    background-color: rgb(103, 158, 128);
    margin-top: 10px;
}


ul li {
    
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40px;
    margin-bottom: 10px;
}



ul ul {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 40px;
}


span {
  padding: 10px 20px;
  display: inline-block;
}


ul li span {
    font-size: 20px;
    font-weight: 700px;
    background-color: rgb(199, 124, 106);
    margin-bottom: 0px;
    margin-left: 40px;
}

ul ul li {
    background-color: rgb(153, 180, 102);
    
}

ul ul li span {
    background-color: rgb(218, 106, 32);
    
}


.a {
    background-image: url(./icons_lab4/rule.svg);
    background-position: top left;
    background-repeat: no-repeat;
}

#m-1{
    background-image: url(./icons_lab4/ad_units.png)
}
#m-2{
    background-image: url(./icons_lab4/airplane_ticket.png)
}
#m-3{
    background-image: url(./icons_lab4/hotel.png)
}
#m-4{
    background-image: url(./icons_lab4/car_rental.png)
}

#n-1{
    background-image: url(./icons_lab4/local_bar.png)
}
#n-2{
    background-image: url(./icons_lab4/casino.png)
}
#n-3{
    background-image: url(./icons_lab4/museum.png)
}
#n-4{
    background-image: url(./icons_lab4/festival.png)
}
